Bucket1/flow1.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "288bb344-1a26-3d2e-a1bf-b439feadf125",
            "instanceIdentifier" : "0185100c-addf-1b1e-8964-ffee91659551",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "33d28624-09fa-368c-980f-5eaae66d8b90",
          "instanceIdentifier" : "0185100d-addf-1b1e-dfa6-e9b9508e69a0",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "original" ],
          "source" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "3b7d503d-2d70-34a8-8be3-1b07030a38ec",
            "instanceIdentifier" : "01851000-addf-1b1e-0b99-77784fa1e3c4",
            "name" : "ConvertExcelToCSVProcessor",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "a79cd3d2-5da8-38d8-8501-dfe0798c6a68",
            "instanceIdentifier" : "4b1eaddf-0185-1000-1aa9-ead1d5ebfc85",
            "name" : "ConvertExcelToCSVProcessor",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "05103987-1e8d-3a4d-b64d-0a64aba3aa11",
          "instanceIdentifier" : "56284ccf-0185-1000-1af2-d355d305db59",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "b0128a5c-7f07-3f32-9e1a-89a54d2694a5",
            "instanceIdentifier" : "55e1142f-0185-1000-b9a1-cb7321592edb",
            "name" : "FetchFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "3b7d503d-2d70-34a8-8be3-1b07030a38ec",
            "instanceIdentifier" : "01851000-addf-1b1e-0b99-77784fa1e3c4",
            "name" : "ConvertExcelToCSVProcessor",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "9a5dfaf5-7b17-33c0-8f32-738e24f9cb32",
          "instanceIdentifier" : "01851006-142f-15e1-17d3-92116080a8fd",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "merged" ],
          "source" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "cc5559aa-cc64-39b9-b2fc-55b2d23418bf",
            "instanceIdentifier" : "01851004-142f-15e1-5247-ec5db428fa74",
            "name" : "MergeContent",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "211ca735-3082-3102-95ec-b4372307ab63",
            "instanceIdentifier" : "0185100f-c8f5-15df-fc97-0b21a40b4ff9",
            "name" : "ReplaceText",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "363638fb-3494-34b6-9b71-0c65f7612336",
          "instanceIdentifier" : "5e5fa552-0185-1000-4172-7024e23cffee",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "b0128a5c-7f07-3f32-9e1a-89a54d2694a5",
            "instanceIdentifier" : "55e1142f-0185-1000-b9a1-cb7321592edb",
            "name" : "FetchFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "cc5559aa-cc64-39b9-b2fc-55b2d23418bf",
            "instanceIdentifier" : "01851004-142f-15e1-5247-ec5db428fa74",
            "name" : "MergeContent",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "336f4bce-e2dd-3484-ba3f-589624b8b739",
          "instanceIdentifier" : "01851005-142f-15e1-f042-011eb3be6979",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "361f2bd4-bed9-3896-a3fd-ee1bd6aef283",
            "instanceIdentifier" : "40e5b997-0185-1000-b3de-ef15fd59005d",
            "name" : "GetFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "ff1afde7-d468-3aad-a02d-e6a3eca274d4",
            "instanceIdentifier" : "4561be87-0185-1000-dd41-19a0ae98a618",
            "name" : "PublishKafka_2_0",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "9637f144-8541-3bcd-9d2d-e9a2eb1cffcc",
          "instanceIdentifier" : "456298b6-0185-1000-b4ee-22dc253c6e41",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "valid" ],
          "source" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "9468d505-f0e5-3385-819d-74a9ba55a544",
            "instanceIdentifier" : "447e4c9c-0185-1000-3fd2-aab01614ed4c",
            "name" : "ValidateCsv",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "171a26fb-ca69-318a-9459-dbcf65ad98d6",
            "instanceIdentifier" : "4b13411a-0185-1000-678f-473fd3bc6368",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "1662e656-df65-34b7-8518-6e4ce050992a",
          "instanceIdentifier" : "01851024-addf-1b1e-d612-1bc437beabfa",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "7566fc3a-de9f-3729-a632-dfc05f1a6c36",
            "instanceIdentifier" : "01851020-addf-1b1e-48f2-a47f4453b958",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "b0128a5c-7f07-3f32-9e1a-89a54d2694a5",
            "instanceIdentifier" : "55e1142f-0185-1000-b9a1-cb7321592edb",
            "name" : "FetchFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "6ef17744-a07a-3f80-9b21-c654cde1a1ac",
          "instanceIdentifier" : "56289b56-0185-1000-0f92-d1f7a21597b0",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "9c2db399-ebd0-3fef-a3d6-d2034836e064",
            "instanceIdentifier" : "55e071bb-0185-1000-2c0b-e163073064d6",
            "name" : "ListFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "8de9611e-b3c6-383a-a535-f5c5f8342b36",
            "instanceIdentifier" : "0185101e-addf-1b1e-42ba-eb753cfe4f77",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "20407c1c-fdf5-3c0a-9ad9-c2e49c58ff93",
          "instanceIdentifier" : "01851021-addf-1b1e-f31b-fd3c33596141",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "403f4533-cf58-399a-a9d4-9b5a136c657d",
            "instanceIdentifier" : "45dfc8f5-0185-1000-0a79-25efea843c21",
            "name" : "ConsumeKafka_2_0",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "7566fc3a-de9f-3729-a632-dfc05f1a6c36",
            "instanceIdentifier" : "01851020-addf-1b1e-48f2-a47f4453b958",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "aa0fd4d2-61e2-3872-a0e1-dcfcf71576d8",
          "instanceIdentifier" : "01851023-addf-1b1e-f119-4f4c10844dd7",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "569f97e0-bc31-3260-84b8-3fa581144cbf",
            "instanceIdentifier" : "01851000-c8f5-15df-deba-d975d923f6d1",
            "name" : "ConsumeKafka_2_0",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "9468d505-f0e5-3385-819d-74a9ba55a544",
            "instanceIdentifier" : "447e4c9c-0185-1000-3fd2-aab01614ed4c",
            "name" : "ValidateCsv",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "b1883f05-e7ff-3a40-a60e-1d6d784e375f",
          "instanceIdentifier" : "0185100f-142f-15e1-a045-12d7b37deb0e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "fe050a4d-7872-3dea-b483-f1e6597ebb2d",
            "instanceIdentifier" : "0185100a-142f-15e1-31ad-cb85b4c2615c",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "5f60a8b7-42ae-309e-b459-a57403c2337e",
            "instanceIdentifier" : "4af9bddd-0185-1000-48b9-6abe6305a514",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "8f019522-c1e3-3637-b8f4-091a30e08a0f",
          "instanceIdentifier" : "01851022-addf-1b1e-ec99-39c1853c350e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "8de9611e-b3c6-383a-a535-f5c5f8342b36",
            "instanceIdentifier" : "0185101e-addf-1b1e-42ba-eb753cfe4f77",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "22f9f536-d2c1-374e-a66c-20eb0f478f00",
            "instanceIdentifier" : "454acfa5-0185-1000-6d02-5c40fa3076b7",
            "name" : "PublishKafka_2_0",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "3432919c-761a-3184-a95d-25a3d8c9757f",
          "instanceIdentifier" : "4562b8cb-0185-1000-20a0-6f849dad5104",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "invalid" ],
          "source" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "9468d505-f0e5-3385-819d-74a9ba55a544",
            "instanceIdentifier" : "447e4c9c-0185-1000-3fd2-aab01614ed4c",
            "name" : "ValidateCsv",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "fe050a4d-7872-3dea-b483-f1e6597ebb2d",
            "instanceIdentifier" : "0185100a-142f-15e1-31ad-cb85b4c2615c",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "d2276081-d8d9-3e47-a6ea-a345d801d432",
          "instanceIdentifier" : "0185100e-142f-15e1-a8bf-4b1b280e4f86",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "merged" ],
          "source" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "b17f8001-e22d-347f-a35f-8f44f0cfa779",
            "instanceIdentifier" : "0185100c-142f-15e1-bd5c-14056b7dfd58",
            "name" : "MergeContent",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "9fda8698-8ce5-3265-a560-7663bf6ee000",
            "instanceIdentifier" : "452922a2-0185-1000-8292-a984bcd17a52",
            "name" : "SplitText",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "538ba0ad-de86-32e5-a131-98e6b56a1c7d",
          "instanceIdentifier" : "01851002-addf-1b1e-a34f-d3b58c9ff8ad",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "3b7d503d-2d70-34a8-8be3-1b07030a38ec",
            "instanceIdentifier" : "01851000-addf-1b1e-0b99-77784fa1e3c4",
            "name" : "ConvertExcelToCSVProcessor",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "b17f8001-e22d-347f-a35f-8f44f0cfa779",
            "instanceIdentifier" : "0185100c-142f-15e1-bd5c-14056b7dfd58",
            "name" : "MergeContent",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "3388a4af-5833-30d0-861b-5e0f531a481e",
          "instanceIdentifier" : "0185100d-142f-15e1-9ced-2a3aefe4736a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "splits" ],
          "source" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "9fda8698-8ce5-3265-a560-7663bf6ee000",
            "instanceIdentifier" : "452922a2-0185-1000-8292-a984bcd17a52",
            "name" : "SplitText",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "91ca1b13-7c01-3fff-b0ee-254fb298bb30",
            "instanceIdentifier" : "0185100c-c8f5-15df-d4fc-14238c04e445",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "7b59e1c1-a40a-311e-8913-7baf18627f86",
          "instanceIdentifier" : "01851013-142f-15e1-78bc-d92ab20af2cf",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "fe050a4d-7872-3dea-b483-f1e6597ebb2d",
            "instanceIdentifier" : "0185100a-142f-15e1-31ad-cb85b4c2615c",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "081740ec-7f9d-3573-bf4e-3697fe338d8e",
            "instanceIdentifier" : "0185100f-addf-1b1e-d8f6-dceba8574316",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "c9b9c4c0-3746-3b25-a9f7-747c41f482da",
          "instanceIdentifier" : "01851010-addf-1b1e-9354-b6a2158906ab",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
            "id" : "288bb344-1a26-3d2e-a1bf-b439feadf125",
            "instanceIdentifier" : "0185100c-addf-1b1e-8964-ffee91659551",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
        "inputPorts" : [ ],
        "instanceIdentifier" : "416902e1-0185-1000-7527-611dd4d79d4c",
        "labels" : [ ],
        "name" : "G1",
        "outputPorts" : [ ],
        "position" : {
          "x" : 240.0,
          "y" : -344.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.18.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "cc5559aa-cc64-39b9-b2fc-55b2d23418bf",
          "instanceIdentifier" : "01851004-142f-15e1-5247-ec5db428fa74",
          "maxBackoffPeriod" : "10 mins",
          "name" : "MergeContent",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 272.0,
            "y" : -760.0
          },
          "properties" : {
            "Keep Path" : "false",
            "Merge Strategy" : "Bin-Packing Algorithm",
            "Attribute Strategy" : "Keep All Unique Attributes",
            "Compression Level" : "1",
            "Maximum Number of Entries" : "1000",
            "Minimum Group Size" : "0 B",
            "Maximum number of Bins" : "5",
            "Tar Modified Time" : "${file.lastModifiedTime}",
            "Delimiter Strategy" : "Do Not Use Delimiters",
            "Merge Format" : "Binary Concatenation",
            "mergecontent-metadata-strategy" : "Do Not Merge Uncommon Metadata",
            "Minimum Number of Entries" : "1"
          },
          "propertyDescriptors" : {
            "Keep Path" : {
              "displayName" : "Keep Path",
              "identifiesControllerService" : false,
              "name" : "Keep Path",
              "sensitive" : false
            },
            "Maximum Group Size" : {
              "displayName" : "Maximum Group Size",
              "identifiesControllerService" : false,
              "name" : "Maximum Group Size",
              "sensitive" : false
            },
            "Merge Strategy" : {
              "displayName" : "Merge Strategy",
              "identifiesControllerService" : false,
              "name" : "Merge Strategy",
              "sensitive" : false
            },
            "Attribute Strategy" : {
              "displayName" : "Attribute Strategy",
              "identifiesControllerService" : false,
              "name" : "Attribute Strategy",
              "sensitive" : false
            },
            "Compression Level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "Compression Level",
              "sensitive" : false
            },
            "Maximum Number of Entries" : {
              "displayName" : "Maximum Number of Entries",
              "identifiesControllerService" : false,
              "name" : "Maximum Number of Entries",
              "sensitive" : false
            },
            "Minimum Group Size" : {
              "displayName" : "Minimum Group Size",
              "identifiesControllerService" : false,
              "name" : "Minimum Group Size",
              "sensitive" : false
            },
            "Maximum number of Bins" : {
              "displayName" : "Maximum number of Bins",
              "identifiesControllerService" : false,
              "name" : "Maximum number of Bins",
              "sensitive" : false
            },
            "Tar Modified Time" : {
              "displayName" : "Tar Modified Time",
              "identifiesControllerService" : false,
              "name" : "Tar Modified Time",
              "sensitive" : false
            },
            "Delimiter Strategy" : {
              "displayName" : "Delimiter Strategy",
              "identifiesControllerService" : false,
              "name" : "Delimiter Strategy",
              "sensitive" : false
            },
            "Merge Format" : {
              "displayName" : "Merge Format",
              "identifiesControllerService" : false,
              "name" : "Merge Format",
              "sensitive" : false
            },
            "Footer File" : {
              "displayName" : "Footer",
              "identifiesControllerService" : false,
              "name" : "Footer File",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "TEXT", "FILE" ]
              },
              "sensitive" : false
            },
            "Max Bin Age" : {
              "displayName" : "Max Bin Age",
              "identifiesControllerService" : false,
              "name" : "Max Bin Age",
              "sensitive" : false
            },
            "Demarcator File" : {
              "displayName" : "Demarcator",
              "identifiesControllerService" : false,
              "name" : "Demarcator File",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "TEXT", "FILE" ]
              },
              "sensitive" : false
            },
            "Correlation Attribute Name" : {
              "displayName" : "Correlation Attribute Name",
              "identifiesControllerService" : false,
              "name" : "Correlation Attribute Name",
              "sensitive" : false
            },
            "Header File" : {
              "displayName" : "Header",
              "identifiesControllerService" : false,
              "name" : "Header File",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "TEXT", "FILE" ]
              },
              "sensitive" : false
            },
            "mergecontent-metadata-strategy" : {
              "displayName" : "Metadata Strategy",
              "identifiesControllerService" : false,
              "name" : "mergecontent-metadata-strategy",
              "sensitive" : false
            },
            "Minimum Number of Entries" : {
              "displayName" : "Minimum Number of Entries",
              "identifiesControllerService" : false,
              "name" : "Minimum Number of Entries",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.MergeContent",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-kafka-2-0-nar",
            "group" : "org.apache.nifi",
            "version" : "1.18.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "22f9f536-d2c1-374e-a66c-20eb0f478f00",
          "instanceIdentifier" : "454acfa5-0185-1000-6d02-5c40fa3076b7",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PublishKafka_2_0",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -160.0,
            "y" : 344.0
          },
          "properties" : {
            "compression.type" : "none",
            "bootstrap.servers" : "localhost:9092",
            "sasl.mechanism" : "GSSAPI",
            "max.block.ms" : "5 sec",
            "message-header-encoding" : "UTF-8",
            "ack.wait.time" : "5 secs",
            "use-transactions" : "true",
            "acks" : "all",
            "security.protocol" : "PLAINTEXT",
            "max.request.size" : "1 MB",
            "sasl.token.auth" : "false",
            "Failure Strategy" : "Route to Failure",
            "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
            "topic" : "RejectedRecords",
            "key-attribute-encoding" : "utf-8"
          },
          "propertyDescriptors" : {
            "compression.type" : {
              "displayName" : "Compression Type",
              "identifiesControllerService" : false,
              "name" : "compression.type",
              "sensitive" : false
            },
            "attribute-name-regex" : {
              "displayName" : "Attributes to Send as Headers (Regex)",
              "identifiesControllerService" : false,
              "name" : "attribute-name-regex",
              "sensitive" : false
            },
            "bootstrap.servers" : {
              "displayName" : "Kafka Brokers",
              "identifiesControllerService" : false,
              "name" : "bootstrap.servers",
              "sensitive" : false
            },
            "sasl.kerberos.principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.principal",
              "sensitive" : false
            },
            "sasl.kerberos.service.name" : {
              "displayName" : "Kerberos Service Name",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.service.name",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "kafka-key" : {
              "displayName" : "Kafka Key",
              "identifiesControllerService" : false,
              "name" : "kafka-key",
              "sensitive" : false
            },
            "partition" : {
              "displayName" : "Partition",
              "identifiesControllerService" : false,
              "name" : "partition",
              "sensitive" : false
            },
            "sasl.mechanism" : {
              "displayName" : "SASL Mechanism",
              "identifiesControllerService" : false,
              "name" : "sasl.mechanism",
              "sensitive" : false
            },
            "max.block.ms" : {
              "displayName" : "Max Metadata Wait Time",
              "identifiesControllerService" : false,
              "name" : "max.block.ms",
              "sensitive" : false
            },
            "message-header-encoding" : {
              "displayName" : "Message Header Encoding",
              "identifiesControllerService" : false,
              "name" : "message-header-encoding",
              "sensitive" : false
            },
            "message-demarcator" : {
              "displayName" : "Message Demarcator",
              "identifiesControllerService" : false,
              "name" : "message-demarcator",
              "sensitive" : false
            },
            "transactional-id-prefix" : {
              "displayName" : "Transactional Id Prefix",
              "identifiesControllerService" : false,
              "name" : "transactional-id-prefix",
              "sensitive" : false
            },
            "ack.wait.time" : {
              "displayName" : "Acknowledgment Wait Time",
              "identifiesControllerService" : false,
              "name" : "ack.wait.time",
              "sensitive" : false
            },
            "sasl.username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "sasl.username",
              "sensitive" : false
            },
            "use-transactions" : {
              "displayName" : "Use Transactions",
              "identifiesControllerService" : false,
              "name" : "use-transactions",
              "sensitive" : false
            },
            "acks" : {
              "displayName" : "Delivery Guarantee",
              "identifiesControllerService" : false,
              "name" : "acks",
              "sensitive" : false
            },
            "security.protocol" : {
              "displayName" : "Security Protocol",
              "identifiesControllerService" : false,
              "name" : "security.protocol",
              "sensitive" : false
            },
            "ssl.context.service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "ssl.context.service",
              "sensitive" : false
            },
            "max.request.size" : {
              "displayName" : "Max Request Size",
              "identifiesControllerService" : false,
              "name" : "max.request.size",
              "sensitive" : false
            },
            "sasl.token.auth" : {
              "displayName" : "Token Auth",
              "identifiesControllerService" : false,
              "name" : "sasl.token.auth",
              "sensitive" : false
            },
            "Failure Strategy" : {
              "displayName" : "Failure Strategy",
              "identifiesControllerService" : false,
              "name" : "Failure Strategy",
              "sensitive" : false
            },
            "partitioner.class" : {
              "displayName" : "Partitioner class",
              "identifiesControllerService" : false,
              "name" : "partitioner.class",
              "sensitive" : false
            },
            "sasl.kerberos.keytab" : {
              "displayName" : "Kerberos Keytab",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.keytab",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "topic" : {
              "displayName" : "Topic Name",
              "identifiesControllerService" : false,
              "name" : "topic",
              "sensitive" : false
            },
            "sasl.password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "sasl.password",
              "sensitive" : true
            },
            "key-attribute-encoding" : {
              "displayName" : "Key Attribute Encoding",
              "identifiesControllerService" : false,
              "name" : "key-attribute-encoding",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.18.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "361f2bd4-bed9-3896-a3fd-ee1bd6aef283",
          "instanceIdentifier" : "40e5b997-0185-1000-b3de-ef15fd59005d",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GetFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 232.0,
            "y" : -976.0
          },
          "properties" : {
            "Keep Source File" : "false",
            "Minimum File Age" : "0 sec",
            "Polling Interval" : "0 sec",
            "Input Directory" : "/home/momo/Bureau/nifi_file",
            "Batch Size" : "10",
            "Minimum File Size" : "0 B",
            "Ignore Hidden Files" : "true",
            "Recurse Subdirectories" : "false",
            "File Filter" : "[^\\.].*"
          },
          "propertyDescriptors" : {
            "Keep Source File" : {
              "displayName" : "Keep Source File",
              "identifiesControllerService" : false,
              "name" : "Keep Source File",
              "sensitive" : false
            },
            "Minimum File Age" : {
              "displayName" : "Minimum File Age",
              "identifiesControllerService" : false,
              "name" : "Minimum File Age",
              "sensitive" : false
            },
            "Polling Interval" : {
              "displayName" : "Polling Interval",
              "identifiesControllerService" : false,
              "name" : "Polling Interval",
              "sensitive" : false
            },
            "Input Directory" : {
              "displayName" : "Input Directory",
              "identifiesControllerService" : false,
              "name" : "Input Directory",
              "sensitive" : false
            },
            "Maximum File Age" : {
              "displayName" : "Maximum File Age",
              "identifiesControllerService" : false,
              "name" : "Maximum File Age",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Maximum File Size" : {
              "displayName" : "Maximum File Size",
              "identifiesControllerService" : false,
              "name" : "Maximum File Size",
              "sensitive" : false
            },
            "Minimum File Size" : {
              "displayName" : "Minimum File Size",
              "identifiesControllerService" : false,
              "name" : "Minimum File Size",
              "sensitive" : false
            },
            "Ignore Hidden Files" : {
              "displayName" : "Ignore Hidden Files",
              "identifiesControllerService" : false,
              "name" : "Ignore Hidden Files",
              "sensitive" : false
            },
            "Recurse Subdirectories" : {
              "displayName" : "Recurse Subdirectories",
              "identifiesControllerService" : false,
              "name" : "Recurse Subdirectories",
              "sensitive" : false
            },
            "File Filter" : {
              "displayName" : "File Filter",
              "identifiesControllerService" : false,
              "name" : "File Filter",
              "sensitive" : false
            },
            "Path Filter" : {
              "displayName" : "Path Filter",
              "identifiesControllerService" : false,
              "name" : "Path Filter",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GetFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.18.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "b17f8001-e22d-347f-a35f-8f44f0cfa779",
          "instanceIdentifier" : "0185100c-142f-15e1-bd5c-14056b7dfd58",
          "maxBackoffPeriod" : "10 mins",
          "name" : "MergeContent",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 568.0,
            "y" : -80.0
          },
          "properties" : {
            "Keep Path" : "false",
            "Merge Strategy" : "Bin-Packing Algorithm",
            "Attribute Strategy" : "Keep All Unique Attributes",
            "Compression Level" : "1",
            "Maximum Number of Entries" : "1000",
            "Minimum Group Size" : "0 B",
            "Maximum number of Bins" : "5",
            "Tar Modified Time" : "${file.lastModifiedTime}",
            "Delimiter Strategy" : "Do Not Use Delimiters",
            "Merge Format" : "Binary Concatenation",
            "mergecontent-metadata-strategy" : "Do Not Merge Uncommon Metadata",
            "Minimum Number of Entries" : "1"
          },
          "propertyDescriptors" : {
            "Keep Path" : {
              "displayName" : "Keep Path",
              "identifiesControllerService" : false,
              "name" : "Keep Path",
              "sensitive" : false
            },
            "Maximum Group Size" : {
              "displayName" : "Maximum Group Size",
              "identifiesControllerService" : false,
              "name" : "Maximum Group Size",
              "sensitive" : false
            },
            "Merge Strategy" : {
              "displayName" : "Merge Strategy",
              "identifiesControllerService" : false,
              "name" : "Merge Strategy",
              "sensitive" : false
            },
            "Attribute Strategy" : {
              "displayName" : "Attribute Strategy",
              "identifiesControllerService" : false,
              "name" : "Attribute Strategy",
              "sensitive" : false
            },
            "Compression Level" : {
              "displayName" : "Compression Level",
              "identifiesControllerService" : false,
              "name" : "Compression Level",
              "sensitive" : false
            },
            "Maximum Number of Entries" : {
              "displayName" : "Maximum Number of Entries",
              "identifiesControllerService" : false,
              "name" : "Maximum Number of Entries",
              "sensitive" : false
            },
            "Minimum Group Size" : {
              "displayName" : "Minimum Group Size",
              "identifiesControllerService" : false,
              "name" : "Minimum Group Size",
              "sensitive" : false
            },
            "Maximum number of Bins" : {
              "displayName" : "Maximum number of Bins",
              "identifiesControllerService" : false,
              "name" : "Maximum number of Bins",
              "sensitive" : false
            },
            "Tar Modified Time" : {
              "displayName" : "Tar Modified Time",
              "identifiesControllerService" : false,
              "name" : "Tar Modified Time",
              "sensitive" : false
            },
            "Delimiter Strategy" : {
              "displayName" : "Delimiter Strategy",
              "identifiesControllerService" : false,
              "name" : "Delimiter Strategy",
              "sensitive" : false
            },
            "Merge Format" : {
              "displayName" : "Merge Format",
              "identifiesControllerService" : false,
              "name" : "Merge Format",
              "sensitive" : false
            },
            "Footer File" : {
              "displayName" : "Footer",
              "identifiesControllerService" : false,
              "name" : "Footer File",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "TEXT", "FILE" ]
              },
              "sensitive" : false
            },
            "Max Bin Age" : {
              "displayName" : "Max Bin Age",
              "identifiesControllerService" : false,
              "name" : "Max Bin Age",
              "sensitive" : false
            },
            "Demarcator File" : {
              "displayName" : "Demarcator",
              "identifiesControllerService" : false,
              "name" : "Demarcator File",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "TEXT", "FILE" ]
              },
              "sensitive" : false
            },
            "Correlation Attribute Name" : {
              "displayName" : "Correlation Attribute Name",
              "identifiesControllerService" : false,
              "name" : "Correlation Attribute Name",
              "sensitive" : false
            },
            "Header File" : {
              "displayName" : "Header",
              "identifiesControllerService" : false,
              "name" : "Header File",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "TEXT", "FILE" ]
              },
              "sensitive" : false
            },
            "mergecontent-metadata-strategy" : {
              "displayName" : "Metadata Strategy",
              "identifiesControllerService" : false,
              "name" : "mergecontent-metadata-strategy",
              "sensitive" : false
            },
            "Minimum Number of Entries" : {
              "displayName" : "Minimum Number of Entries",
              "identifiesControllerService" : false,
              "name" : "Minimum Number of Entries",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.MergeContent",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-poi-nar",
            "group" : "org.apache.nifi",
            "version" : "1.18.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "a79cd3d2-5da8-38d8-8501-dfe0798c6a68",
          "instanceIdentifier" : "4b1eaddf-0185-1000-1aa9-ead1d5ebfc85",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConvertExcelToCSVProcessor",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -464.0,
            "y" : -320.0
          },
          "properties" : {
            "excel-extract-first-row" : "0",
            "CSV Format" : "custom",
            "Quote Character" : "\"",
            "Include Header Line" : "true",
            "Value Separator" : ",",
            "Record Separator" : "\\n",
            "Escape Character" : "\\",
            "excel-format-values" : "false",
            "Trim Fields" : "true",
            "Quote Mode" : "NONE",
            "Include Trailing Delimiter" : "false"
          },
          "propertyDescriptors" : {
            "excel-extract-first-row" : {
              "displayName" : "Number of Rows to Skip",
              "identifiesControllerService" : false,
              "name" : "excel-extract-first-row",
              "sensitive" : false
            },
            "excel-extract-column-to-skip" : {
              "displayName" : "Columns To Skip",
              "identifiesControllerService" : false,
              "name" : "excel-extract-column-to-skip",
              "sensitive" : false
            },
            "CSV Format" : {
              "displayName" : "CSV Format",
              "identifiesControllerService" : false,
              "name" : "CSV Format",
              "sensitive" : false
            },
            "Quote Character" : {
              "displayName" : "Quote Character",
              "identifiesControllerService" : false,
              "name" : "Quote Character",
              "sensitive" : false
            },
            "Include Header Line" : {
              "displayName" : "Include Header Line",
              "identifiesControllerService" : false,
              "name" : "Include Header Line",
              "sensitive" : false
            },
            "Value Separator" : {
              "displayName" : "Value Separator",
              "identifiesControllerService" : false,
              "name" : "Value Separator",
              "sensitive" : false
            },
            "Record Separator" : {
              "displayName" : "Record Separator",
              "identifiesControllerService" : false,
              "name" : "Record Separator",
              "sensitive" : false
            },
            "Escape Character" : {
              "displayName" : "Escape Character",
              "identifiesControllerService" : false,
              "name" : "Escape Character",
              "sensitive" : false
            },
            "extract-sheets" : {
              "displayName" : "Sheets to Extract",
              "identifiesControllerService" : false,
              "name" : "extract-sheets",
              "sensitive" : false
            },
            "excel-format-values" : {
              "displayName" : "Format Cell Values",
              "identifiesControllerService" : false,
              "name" : "excel-format-values",
              "sensitive" : false
            },
            "Null String" : {
              "displayName" : "Null String",
              "identifiesControllerService" : false,
              "name" : "Null String",
              "sensitive" : false
            },
            "Trim Fields" : {
              "displayName" : "Trim Fields",
              "identifiesControllerService" : false,
              "name" : "Trim Fields",
              "sensitive" : false
            },
            "Comment Marker" : {
              "displayName" : "Comment Marker",
              "identifiesControllerService" : false,
              "name" : "Comment Marker",
              "sensitive" : false
            },
            "Quote Mode" : {
              "displayName" : "Quote Mode",
              "identifiesControllerService" : false,
              "name" : "Quote Mode",
              "sensitive" : false
            },
            "Include Trailing Delimiter" : {
              "displayName" : "Include Trailing Delimiter",
              "identifiesControllerService" : false,
              "name" : "Include Trailing Delimiter",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.poi.ConvertExcelToCSVProcessor",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure", "permission.denied", "not.found" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.18.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "b0128a5c-7f07-3f32-9e1a-89a54d2694a5",
          "instanceIdentifier" : "55e1142f-0185-1000-b9a1-cb7321592edb",
          "maxBackoffPeriod" : "10 mins",
          "name" : "FetchFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -488.0,
            "y" : -584.0
          },
          "properties" : {
            "Move Conflict Strategy" : "Rename",
            "Log level when file not found" : "ERROR",
            "Log level when permission denied" : "ERROR",
            "File to Fetch" : "${absolute.path}/${filename}",
            "Completion Strategy" : "None"
          },
          "propertyDescriptors" : {
            "Move Conflict Strategy" : {
              "displayName" : "Move Conflict Strategy",
              "identifiesControllerService" : false,
              "name" : "Move Conflict Strategy",
              "sensitive" : false
            },
            "Log level when file not found" : {
              "displayName" : "Log level when file not found",
              "identifiesControllerService" : false,
              "name" : "Log level when file not found",
              "sensitive" : false
            },
            "Move Destination Directory" : {
              "displayName" : "Move Destination Directory",
              "identifiesControllerService" : false,
              "name" : "Move Destination Directory",
              "sensitive" : false
            },
            "Log level when permission denied" : {
              "displayName" : "Log level when permission denied",
              "identifiesControllerService" : false,
              "name" : "Log level when permission denied",
              "sensitive" : false
            },
            "File to Fetch" : {
              "displayName" : "File to Fetch",
              "identifiesControllerService" : false,
              "name" : "File to Fetch",
              "sensitive" : false
            },
            "Completion Strategy" : {
              "displayName" : "Completion Strategy",
              "identifiesControllerService" : false,
              "name" : "Completion Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.FetchFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.18.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "7566fc3a-de9f-3729-a632-dfc05f1a6c36",
          "instanceIdentifier" : "01851020-addf-1b1e-48f2-a47f4453b958",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -632.0,
            "y" : 320.0
          },
          "properties" : {
            "filename" : "datavalid.csv",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "filename" : {
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "name" : "filename",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.18.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "288bb344-1a26-3d2e-a1bf-b439feadf125",
          "instanceIdentifier" : "0185100c-addf-1b1e-8964-ffee91659551",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 776.0,
            "y" : -568.0
          },
          "properties" : {
            "filename" : "${filename:preprend(${now():format(\"yyyyMMdd_HH-mm-ss\")})}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "filename" : {
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "name" : "filename",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.18.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "91ca1b13-7c01-3fff-b0ee-254fb298bb30",
          "instanceIdentifier" : "0185100c-c8f5-15df-d4fc-14238c04e445",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1136.0,
            "y" : 296.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Directory" : "/home/momo/Bureau/nifi_transformer",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.18.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "5f60a8b7-42ae-309e-b459-a57403c2337e",
          "instanceIdentifier" : "4af9bddd-0185-1000-48b9-6abe6305a514",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1040.0,
            "y" : 544.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Directory" : "/home/momo/Bureau/nifi_transformer/data_consumer_rejected",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.18.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "211ca735-3082-3102-95ec-b4372307ab63",
          "instanceIdentifier" : "0185100f-c8f5-15df-fc97-0b21a40b4ff9",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ReplaceText",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -888.0,
            "y" : -480.0
          },
          "properties" : {
            "Regular Expression" : "(?s)(^.*$)",
            "Replacement Value" : "$1",
            "Evaluation Mode" : "Line-by-Line",
            "Line-by-Line Evaluation Mode" : "All",
            "Character Set" : "UTF-8",
            "Maximum Buffer Size" : "1 MB",
            "Replacement Strategy" : "Regex Replace"
          },
          "propertyDescriptors" : {
            "Regular Expression" : {
              "displayName" : "Search Value",
              "identifiesControllerService" : false,
              "name" : "Regular Expression",
              "sensitive" : false
            },
            "Replacement Value" : {
              "displayName" : "Replacement Value",
              "identifiesControllerService" : false,
              "name" : "Replacement Value",
              "sensitive" : false
            },
            "Evaluation Mode" : {
              "displayName" : "Evaluation Mode",
              "identifiesControllerService" : false,
              "name" : "Evaluation Mode",
              "sensitive" : false
            },
            "Line-by-Line Evaluation Mode" : {
              "displayName" : "Line-by-Line Evaluation Mode",
              "identifiesControllerService" : false,
              "name" : "Line-by-Line Evaluation Mode",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "name" : "Maximum Buffer Size",
              "sensitive" : false
            },
            "Replacement Strategy" : {
              "displayName" : "Replacement Strategy",
              "identifiesControllerService" : false,
              "name" : "Replacement Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ReplaceText",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-kafka-2-0-nar",
            "group" : "org.apache.nifi",
            "version" : "1.18.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "403f4533-cf58-399a-a9d4-9b5a136c657d",
          "instanceIdentifier" : "45dfc8f5-0185-1000-0a79-25efea843c21",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConsumeKafka_2_0",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1040.0,
            "y" : 72.0
          },
          "properties" : {
            "max.poll.records" : "10000",
            "group.id" : "mygroup",
            "bootstrap.servers" : "localhost:9092",
            "topic_type" : "names",
            "security.protocol" : "PLAINTEXT",
            "max-uncommit-offset-wait" : "1 secs",
            "sasl.mechanism" : "GSSAPI",
            "sasl.token.auth" : "false",
            "honor-transactions" : "true",
            "Communications Timeout" : "60 secs",
            "topic" : "RejectedRecords",
            "separate-by-key" : "false",
            "message-header-encoding" : "UTF-8",
            "key-attribute-encoding" : "utf-8",
            "auto.offset.reset" : "earliest"
          },
          "propertyDescriptors" : {
            "header-name-regex" : {
              "displayName" : "Headers to Add as Attributes (Regex)",
              "identifiesControllerService" : false,
              "name" : "header-name-regex",
              "sensitive" : false
            },
            "sasl.username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "sasl.username",
              "sensitive" : false
            },
            "max.poll.records" : {
              "displayName" : "Max Poll Records",
              "identifiesControllerService" : false,
              "name" : "max.poll.records",
              "sensitive" : false
            },
            "group.id" : {
              "displayName" : "Group ID",
              "identifiesControllerService" : false,
              "name" : "group.id",
              "sensitive" : false
            },
            "bootstrap.servers" : {
              "displayName" : "Kafka Brokers",
              "identifiesControllerService" : false,
              "name" : "bootstrap.servers",
              "sensitive" : false
            },
            "topic_type" : {
              "displayName" : "Topic Name Format",
              "identifiesControllerService" : false,
              "name" : "topic_type",
              "sensitive" : false
            },
            "sasl.kerberos.principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.principal",
              "sensitive" : false
            },
            "sasl.kerberos.service.name" : {
              "displayName" : "Kerberos Service Name",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.service.name",
              "sensitive" : false
            },
            "security.protocol" : {
              "displayName" : "Security Protocol",
              "identifiesControllerService" : false,
              "name" : "security.protocol",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "ssl.context.service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "ssl.context.service",
              "sensitive" : false
            },
            "max-uncommit-offset-wait" : {
              "displayName" : "Max Uncommitted Time",
              "identifiesControllerService" : false,
              "name" : "max-uncommit-offset-wait",
              "sensitive" : false
            },
            "sasl.mechanism" : {
              "displayName" : "SASL Mechanism",
              "identifiesControllerService" : false,
              "name" : "sasl.mechanism",
              "sensitive" : false
            },
            "sasl.token.auth" : {
              "displayName" : "Token Auth",
              "identifiesControllerService" : false,
              "name" : "sasl.token.auth",
              "sensitive" : false
            },
            "sasl.kerberos.keytab" : {
              "displayName" : "Kerberos Keytab",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.keytab",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "honor-transactions" : {
              "displayName" : "Honor Transactions",
              "identifiesControllerService" : false,
              "name" : "honor-transactions",
              "sensitive" : false
            },
            "Communications Timeout" : {
              "displayName" : "Communications Timeout",
              "identifiesControllerService" : false,
              "name" : "Communications Timeout",
              "sensitive" : false
            },
            "topic" : {
              "displayName" : "Topic Name(s)",
              "identifiesControllerService" : false,
              "name" : "topic",
              "sensitive" : false
            },
            "separate-by-key" : {
              "displayName" : "Separate By Key",
              "identifiesControllerService" : false,
              "name" : "separate-by-key",
              "sensitive" : false
            },
            "message-header-encoding" : {
              "displayName" : "Message Header Encoding",
              "identifiesControllerService" : false,
              "name" : "message-header-encoding",
              "sensitive" : false
            },
            "sasl.password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "sasl.password",
              "sensitive" : true
            },
            "message-demarcator" : {
              "displayName" : "Message Demarcator",
              "identifiesControllerService" : false,
              "name" : "message-demarcator",
              "sensitive" : false
            },
            "key-attribute-encoding" : {
              "displayName" : "Key Attribute Encoding",
              "identifiesControllerService" : false,
              "name" : "key-attribute-encoding",
              "sensitive" : false
            },
            "auto.offset.reset" : {
              "displayName" : "Offset Reset",
              "identifiesControllerService" : false,
              "name" : "auto.offset.reset",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_0",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-kafka-2-0-nar",
            "group" : "org.apache.nifi",
            "version" : "1.18.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "569f97e0-bc31-3260-84b8-3fa581144cbf",
          "instanceIdentifier" : "01851000-c8f5-15df-deba-d975d923f6d1",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConsumeKafka_2_0",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -640.0,
            "y" : 72.0
          },
          "properties" : {
            "max.poll.records" : "10000",
            "group.id" : "mygroup",
            "bootstrap.servers" : "localhost:9092",
            "topic_type" : "names",
            "security.protocol" : "PLAINTEXT",
            "max-uncommit-offset-wait" : "1 secs",
            "sasl.mechanism" : "GSSAPI",
            "sasl.token.auth" : "false",
            "honor-transactions" : "true",
            "Communications Timeout" : "60 secs",
            "topic" : "ValidatedRecords",
            "separate-by-key" : "false",
            "message-header-encoding" : "UTF-8",
            "key-attribute-encoding" : "utf-8",
            "auto.offset.reset" : "earliest"
          },
          "propertyDescriptors" : {
            "header-name-regex" : {
              "displayName" : "Headers to Add as Attributes (Regex)",
              "identifiesControllerService" : false,
              "name" : "header-name-regex",
              "sensitive" : false
            },
            "sasl.username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "sasl.username",
              "sensitive" : false
            },
            "max.poll.records" : {
              "displayName" : "Max Poll Records",
              "identifiesControllerService" : false,
              "name" : "max.poll.records",
              "sensitive" : false
            },
            "group.id" : {
              "displayName" : "Group ID",
              "identifiesControllerService" : false,
              "name" : "group.id",
              "sensitive" : false
            },
            "bootstrap.servers" : {
              "displayName" : "Kafka Brokers",
              "identifiesControllerService" : false,
              "name" : "bootstrap.servers",
              "sensitive" : false
            },
            "topic_type" : {
              "displayName" : "Topic Name Format",
              "identifiesControllerService" : false,
              "name" : "topic_type",
              "sensitive" : false
            },
            "sasl.kerberos.principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.principal",
              "sensitive" : false
            },
            "sasl.kerberos.service.name" : {
              "displayName" : "Kerberos Service Name",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.service.name",
              "sensitive" : false
            },
            "security.protocol" : {
              "displayName" : "Security Protocol",
              "identifiesControllerService" : false,
              "name" : "security.protocol",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "ssl.context.service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "ssl.context.service",
              "sensitive" : false
            },
            "max-uncommit-offset-wait" : {
              "displayName" : "Max Uncommitted Time",
              "identifiesControllerService" : false,
              "name" : "max-uncommit-offset-wait",
              "sensitive" : false
            },
            "sasl.mechanism" : {
              "displayName" : "SASL Mechanism",
              "identifiesControllerService" : false,
              "name" : "sasl.mechanism",
              "sensitive" : false
            },
            "sasl.token.auth" : {
              "displayName" : "Token Auth",
              "identifiesControllerService" : false,
              "name" : "sasl.token.auth",
              "sensitive" : false
            },
            "sasl.kerberos.keytab" : {
              "displayName" : "Kerberos Keytab",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.keytab",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "honor-transactions" : {
              "displayName" : "Honor Transactions",
              "identifiesControllerService" : false,
              "name" : "honor-transactions",
              "sensitive" : false
            },
            "Communications Timeout" : {
              "displayName" : "Communications Timeout",
              "identifiesControllerService" : false,
              "name" : "Communications Timeout",
              "sensitive" : false
            },
            "topic" : {
              "displayName" : "Topic Name(s)",
              "identifiesControllerService" : false,
              "name" : "topic",
              "sensitive" : false
            },
            "separate-by-key" : {
              "displayName" : "Separate By Key",
              "identifiesControllerService" : false,
              "name" : "separate-by-key",
              "sensitive" : false
            },
            "message-header-encoding" : {
              "displayName" : "Message Header Encoding",
              "identifiesControllerService" : false,
              "name" : "message-header-encoding",
              "sensitive" : false
            },
            "sasl.password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "sasl.password",
              "sensitive" : true
            },
            "message-demarcator" : {
              "displayName" : "Message Demarcator",
              "identifiesControllerService" : false,
              "name" : "message-demarcator",
              "sensitive" : false
            },
            "key-attribute-encoding" : {
              "displayName" : "Key Attribute Encoding",
              "identifiesControllerService" : false,
              "name" : "key-attribute-encoding",
              "sensitive" : false
            },
            "auto.offset.reset" : {
              "displayName" : "Offset Reset",
              "identifiesControllerService" : false,
              "name" : "auto.offset.reset",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_0",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.18.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "9fda8698-8ce5-3265-a560-7663bf6ee000",
          "instanceIdentifier" : "452922a2-0185-1000-8292-a984bcd17a52",
          "maxBackoffPeriod" : "10 mins",
          "name" : "SplitText",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 584.0,
            "y" : -320.0
          },
          "properties" : {
            "Remove Trailing Newlines" : "false",
            "Header Line Count" : "0",
            "Line Split Count" : "1"
          },
          "propertyDescriptors" : {
            "Remove Trailing Newlines" : {
              "displayName" : "Remove Trailing Newlines",
              "identifiesControllerService" : false,
              "name" : "Remove Trailing Newlines",
              "sensitive" : false
            },
            "Maximum Fragment Size" : {
              "displayName" : "Maximum Fragment Size",
              "identifiesControllerService" : false,
              "name" : "Maximum Fragment Size",
              "sensitive" : false
            },
            "Header Line Marker Characters" : {
              "displayName" : "Header Line Marker Characters",
              "identifiesControllerService" : false,
              "name" : "Header Line Marker Characters",
              "sensitive" : false
            },
            "Header Line Count" : {
              "displayName" : "Header Line Count",
              "identifiesControllerService" : false,
              "name" : "Header Line Count",
              "sensitive" : false
            },
            "Line Split Count" : {
              "displayName" : "Line Split Count",
              "identifiesControllerService" : false,
              "name" : "Line Split Count",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.SplitText",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.18.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "081740ec-7f9d-3573-bf4e-3697fe338d8e",
          "instanceIdentifier" : "0185100f-addf-1b1e-d8f6-dceba8574316",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1288.0,
            "y" : -552.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Directory" : "/home/momo/Bureau/nifi_transformer",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-poi-nar",
            "group" : "org.apache.nifi",
            "version" : "1.18.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "3b7d503d-2d70-34a8-8be3-1b07030a38ec",
          "instanceIdentifier" : "01851000-addf-1b1e-0b99-77784fa1e3c4",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConvertExcelToCSVProcessor",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 280.0,
            "y" : -544.0
          },
          "properties" : {
            "excel-extract-first-row" : "0",
            "CSV Format" : "custom",
            "Quote Character" : "\"",
            "Include Header Line" : "true",
            "Value Separator" : ",",
            "Record Separator" : "\\n",
            "Escape Character" : "\\",
            "excel-format-values" : "false",
            "Trim Fields" : "true",
            "Quote Mode" : "NONE",
            "Include Trailing Delimiter" : "false"
          },
          "propertyDescriptors" : {
            "excel-extract-first-row" : {
              "displayName" : "Number of Rows to Skip",
              "identifiesControllerService" : false,
              "name" : "excel-extract-first-row",
              "sensitive" : false
            },
            "excel-extract-column-to-skip" : {
              "displayName" : "Columns To Skip",
              "identifiesControllerService" : false,
              "name" : "excel-extract-column-to-skip",
              "sensitive" : false
            },
            "CSV Format" : {
              "displayName" : "CSV Format",
              "identifiesControllerService" : false,
              "name" : "CSV Format",
              "sensitive" : false
            },
            "Quote Character" : {
              "displayName" : "Quote Character",
              "identifiesControllerService" : false,
              "name" : "Quote Character",
              "sensitive" : false
            },
            "Include Header Line" : {
              "displayName" : "Include Header Line",
              "identifiesControllerService" : false,
              "name" : "Include Header Line",
              "sensitive" : false
            },
            "Value Separator" : {
              "displayName" : "Value Separator",
              "identifiesControllerService" : false,
              "name" : "Value Separator",
              "sensitive" : false
            },
            "Record Separator" : {
              "displayName" : "Record Separator",
              "identifiesControllerService" : false,
              "name" : "Record Separator",
              "sensitive" : false
            },
            "Escape Character" : {
              "displayName" : "Escape Character",
              "identifiesControllerService" : false,
              "name" : "Escape Character",
              "sensitive" : false
            },
            "extract-sheets" : {
              "displayName" : "Sheets to Extract",
              "identifiesControllerService" : false,
              "name" : "extract-sheets",
              "sensitive" : false
            },
            "excel-format-values" : {
              "displayName" : "Format Cell Values",
              "identifiesControllerService" : false,
              "name" : "excel-format-values",
              "sensitive" : false
            },
            "Null String" : {
              "displayName" : "Null String",
              "identifiesControllerService" : false,
              "name" : "Null String",
              "sensitive" : false
            },
            "Trim Fields" : {
              "displayName" : "Trim Fields",
              "identifiesControllerService" : false,
              "name" : "Trim Fields",
              "sensitive" : false
            },
            "Comment Marker" : {
              "displayName" : "Comment Marker",
              "identifiesControllerService" : false,
              "name" : "Comment Marker",
              "sensitive" : false
            },
            "Quote Mode" : {
              "displayName" : "Quote Mode",
              "identifiesControllerService" : false,
              "name" : "Quote Mode",
              "sensitive" : false
            },
            "Include Trailing Delimiter" : {
              "displayName" : "Include Trailing Delimiter",
              "identifiesControllerService" : false,
              "name" : "Include Trailing Delimiter",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.poi.ConvertExcelToCSVProcessor",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.18.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "8de9611e-b3c6-383a-a535-f5c5f8342b36",
          "instanceIdentifier" : "0185101e-addf-1b1e-42ba-eb753cfe4f77",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1056.0,
            "y" : 312.0
          },
          "properties" : {
            "filename" : "datarejected.csv",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "filename" : {
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "name" : "filename",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.18.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "fe050a4d-7872-3dea-b483-f1e6597ebb2d",
          "instanceIdentifier" : "0185100a-142f-15e1-31ad-cb85b4c2615c",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 568.0,
            "y" : 128.0
          },
          "properties" : {
            "filename" : "datav1.csv",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "filename" : {
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "name" : "filename",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.18.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "9c2db399-ebd0-3fef-a3d6-d2034836e064",
          "instanceIdentifier" : "55e071bb-0185-1000-2c0b-e163073064d6",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ListFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -504.0,
            "y" : -832.0
          },
          "properties" : {
            "Minimum File Age" : "0 sec",
            "et-initial-listing-target" : "all",
            "max-listing-time" : "3 mins",
            "et-time-window" : "3 hours",
            "et-node-identifier" : "${hostname()}",
            "Recurse Subdirectories" : "true",
            "File Filter" : "[^\\.].*",
            "Include File Attributes" : "true",
            "Input Directory Location" : "Local",
            "listing-strategy" : "timestamps",
            "Input Directory" : "/home/momo/Bureau/nifi_file",
            "target-system-timestamp-precision" : "auto-detect",
            "track-performance" : "false",
            "max-performance-metrics" : "100000",
            "Minimum File Size" : "0 B",
            "Ignore Hidden Files" : "true",
            "max-operation-time" : "10 secs"
          },
          "propertyDescriptors" : {
            "Minimum File Age" : {
              "displayName" : "Minimum File Age",
              "identifiesControllerService" : false,
              "name" : "Minimum File Age",
              "sensitive" : false
            },
            "et-initial-listing-target" : {
              "displayName" : "Entity Tracking Initial Listing Target",
              "identifiesControllerService" : false,
              "name" : "et-initial-listing-target",
              "sensitive" : false
            },
            "Maximum File Age" : {
              "displayName" : "Maximum File Age",
              "identifiesControllerService" : false,
              "name" : "Maximum File Age",
              "sensitive" : false
            },
            "max-listing-time" : {
              "displayName" : "Max Directory Listing Time",
              "identifiesControllerService" : false,
              "name" : "max-listing-time",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "Maximum File Size" : {
              "displayName" : "Maximum File Size",
              "identifiesControllerService" : false,
              "name" : "Maximum File Size",
              "sensitive" : false
            },
            "et-time-window" : {
              "displayName" : "Entity Tracking Time Window",
              "identifiesControllerService" : false,
              "name" : "et-time-window",
              "sensitive" : false
            },
            "et-node-identifier" : {
              "displayName" : "Entity Tracking Node Identifier",
              "identifiesControllerService" : false,
              "name" : "et-node-identifier",
              "sensitive" : false
            },
            "Recurse Subdirectories" : {
              "displayName" : "Recurse Subdirectories",
              "identifiesControllerService" : false,
              "name" : "Recurse Subdirectories",
              "sensitive" : false
            },
            "File Filter" : {
              "displayName" : "File Filter",
              "identifiesControllerService" : false,
              "name" : "File Filter",
              "sensitive" : false
            },
            "Path Filter" : {
              "displayName" : "Path Filter",
              "identifiesControllerService" : false,
              "name" : "Path Filter",
              "sensitive" : false
            },
            "Include File Attributes" : {
              "displayName" : "Include File Attributes",
              "identifiesControllerService" : false,
              "name" : "Include File Attributes",
              "sensitive" : false
            },
            "Input Directory Location" : {
              "displayName" : "Input Directory Location",
              "identifiesControllerService" : false,
              "name" : "Input Directory Location",
              "sensitive" : false
            },
            "listing-strategy" : {
              "displayName" : "Listing Strategy",
              "identifiesControllerService" : false,
              "name" : "listing-strategy",
              "sensitive" : false
            },
            "Input Directory" : {
              "displayName" : "Input Directory",
              "identifiesControllerService" : false,
              "name" : "Input Directory",
              "sensitive" : false
            },
            "target-system-timestamp-precision" : {
              "displayName" : "Target System Timestamp Precision",
              "identifiesControllerService" : false,
              "name" : "target-system-timestamp-precision",
              "sensitive" : false
            },
            "track-performance" : {
              "displayName" : "Track Performance",
              "identifiesControllerService" : false,
              "name" : "track-performance",
              "sensitive" : false
            },
            "max-performance-metrics" : {
              "displayName" : "Maximum Number of Files to Track",
              "identifiesControllerService" : false,
              "name" : "max-performance-metrics",
              "sensitive" : false
            },
            "Minimum File Size" : {
              "displayName" : "Minimum File Size",
              "identifiesControllerService" : false,
              "name" : "Minimum File Size",
              "sensitive" : false
            },
            "Ignore Hidden Files" : {
              "displayName" : "Ignore Hidden Files",
              "identifiesControllerService" : false,
              "name" : "Ignore Hidden Files",
              "sensitive" : false
            },
            "et-state-cache" : {
              "displayName" : "Entity Tracking State Cache",
              "identifiesControllerService" : true,
              "name" : "et-state-cache",
              "sensitive" : false
            },
            "max-operation-time" : {
              "displayName" : "Max Disk Operation Time",
              "identifiesControllerService" : false,
              "name" : "max-operation-time",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ListFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.18.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "9468d505-f0e5-3385-819d-74a9ba55a544",
          "instanceIdentifier" : "447e4c9c-0185-1000-3fd2-aab01614ed4c",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ValidateCsv",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 472.0,
            "y" : 344.0
          },
          "properties" : {
            "validate-csv-schema" : "ParseChar,ParseChar,ParseInt,ParseChar,ParseChar,ParseInt,ParseInt,ParseDouble,ParseInt,ParseDouble,ParseInt,ParseDouble,ParseDouble,ParseInt,ParseDouble,ParseDouble,ParseInt,ParseChar,ParseChar,ParseChar,ParseInt",
            "validate-csv-eol" : "\\n",
            "validate-csv-delimiter" : ",",
            "validate-csv-header" : "true",
            "validate-csv-quote" : "\"",
            "validate-csv-strategy" : "FlowFile validation"
          },
          "propertyDescriptors" : {
            "validate-csv-schema" : {
              "displayName" : "Schema",
              "identifiesControllerService" : false,
              "name" : "validate-csv-schema",
              "sensitive" : false
            },
            "validate-csv-eol" : {
              "displayName" : "End of line symbols",
              "identifiesControllerService" : false,
              "name" : "validate-csv-eol",
              "sensitive" : false
            },
            "validate-csv-delimiter" : {
              "displayName" : "Delimiter character",
              "identifiesControllerService" : false,
              "name" : "validate-csv-delimiter",
              "sensitive" : false
            },
            "validate-csv-header" : {
              "displayName" : "Header",
              "identifiesControllerService" : false,
              "name" : "validate-csv-header",
              "sensitive" : false
            },
            "validate-csv-quote" : {
              "displayName" : "Quote character",
              "identifiesControllerService" : false,
              "name" : "validate-csv-quote",
              "sensitive" : false
            },
            "validate-csv-strategy" : {
              "displayName" : "Validation strategy",
              "identifiesControllerService" : false,
              "name" : "validate-csv-strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ValidateCsv",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.18.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "171a26fb-ca69-318a-9459-dbcf65ad98d6",
          "instanceIdentifier" : "4b13411a-0185-1000-678f-473fd3bc6368",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -592.0,
            "y" : 544.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Directory" : "/home/momo/Bureau/nifi_transformer/data_consumer_validated",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-kafka-2-0-nar",
            "group" : "org.apache.nifi",
            "version" : "1.18.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "7bf94981-ec17-3b52-8ade-d8ff4d822759",
          "identifier" : "ff1afde7-d468-3aad-a02d-e6a3eca274d4",
          "instanceIdentifier" : "4561be87-0185-1000-dd41-19a0ae98a618",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PublishKafka_2_0",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -168.0,
            "y" : 120.0
          },
          "properties" : {
            "compression.type" : "none",
            "bootstrap.servers" : "localhost:9092",
            "sasl.mechanism" : "GSSAPI",
            "max.block.ms" : "5 sec",
            "message-header-encoding" : "UTF-8",
            "ack.wait.time" : "5 secs",
            "use-transactions" : "true",
            "acks" : "all",
            "security.protocol" : "PLAINTEXT",
            "max.request.size" : "1 MB",
            "sasl.token.auth" : "false",
            "Failure Strategy" : "Route to Failure",
            "partitioner.class" : "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
            "topic" : "ValidatedRecords",
            "key-attribute-encoding" : "utf-8"
          },
          "propertyDescriptors" : {
            "compression.type" : {
              "displayName" : "Compression Type",
              "identifiesControllerService" : false,
              "name" : "compression.type",
              "sensitive" : false
            },
            "attribute-name-regex" : {
              "displayName" : "Attributes to Send as Headers (Regex)",
              "identifiesControllerService" : false,
              "name" : "attribute-name-regex",
              "sensitive" : false
            },
            "bootstrap.servers" : {
              "displayName" : "Kafka Brokers",
              "identifiesControllerService" : false,
              "name" : "bootstrap.servers",
              "sensitive" : false
            },
            "sasl.kerberos.principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.principal",
              "sensitive" : false
            },
            "sasl.kerberos.service.name" : {
              "displayName" : "Kerberos Service Name",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.service.name",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "kafka-key" : {
              "displayName" : "Kafka Key",
              "identifiesControllerService" : false,
              "name" : "kafka-key",
              "sensitive" : false
            },
            "partition" : {
              "displayName" : "Partition",
              "identifiesControllerService" : false,
              "name" : "partition",
              "sensitive" : false
            },
            "sasl.mechanism" : {
              "displayName" : "SASL Mechanism",
              "identifiesControllerService" : false,
              "name" : "sasl.mechanism",
              "sensitive" : false
            },
            "max.block.ms" : {
              "displayName" : "Max Metadata Wait Time",
              "identifiesControllerService" : false,
              "name" : "max.block.ms",
              "sensitive" : false
            },
            "message-header-encoding" : {
              "displayName" : "Message Header Encoding",
              "identifiesControllerService" : false,
              "name" : "message-header-encoding",
              "sensitive" : false
            },
            "message-demarcator" : {
              "displayName" : "Message Demarcator",
              "identifiesControllerService" : false,
              "name" : "message-demarcator",
              "sensitive" : false
            },
            "transactional-id-prefix" : {
              "displayName" : "Transactional Id Prefix",
              "identifiesControllerService" : false,
              "name" : "transactional-id-prefix",
              "sensitive" : false
            },
            "ack.wait.time" : {
              "displayName" : "Acknowledgment Wait Time",
              "identifiesControllerService" : false,
              "name" : "ack.wait.time",
              "sensitive" : false
            },
            "sasl.username" : {
              "displayName" : "Username",
              "identifiesControllerService" : false,
              "name" : "sasl.username",
              "sensitive" : false
            },
            "use-transactions" : {
              "displayName" : "Use Transactions",
              "identifiesControllerService" : false,
              "name" : "use-transactions",
              "sensitive" : false
            },
            "acks" : {
              "displayName" : "Delivery Guarantee",
              "identifiesControllerService" : false,
              "name" : "acks",
              "sensitive" : false
            },
            "security.protocol" : {
              "displayName" : "Security Protocol",
              "identifiesControllerService" : false,
              "name" : "security.protocol",
              "sensitive" : false
            },
            "ssl.context.service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "ssl.context.service",
              "sensitive" : false
            },
            "max.request.size" : {
              "displayName" : "Max Request Size",
              "identifiesControllerService" : false,
              "name" : "max.request.size",
              "sensitive" : false
            },
            "sasl.token.auth" : {
              "displayName" : "Token Auth",
              "identifiesControllerService" : false,
              "name" : "sasl.token.auth",
              "sensitive" : false
            },
            "Failure Strategy" : {
              "displayName" : "Failure Strategy",
              "identifiesControllerService" : false,
              "name" : "Failure Strategy",
              "sensitive" : false
            },
            "partitioner.class" : {
              "displayName" : "Partitioner class",
              "identifiesControllerService" : false,
              "name" : "partitioner.class",
              "sensitive" : false
            },
            "sasl.kerberos.keytab" : {
              "displayName" : "Kerberos Keytab",
              "identifiesControllerService" : false,
              "name" : "sasl.kerberos.keytab",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "topic" : {
              "displayName" : "Topic Name",
              "identifiesControllerService" : false,
              "name" : "topic",
              "sensitive" : false
            },
            "sasl.password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "sasl.password",
              "sensitive" : true
            },
            "key-attribute-encoding" : {
              "displayName" : "Key Attribute Encoding",
              "identifiesControllerService" : false,
              "name" : "key-attribute-encoding",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}